<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body data-bs="theme"="dark">
    <div class="container mt-5">
        <h1><p class="text-left">Welcome,{{logged_user.first_name}}</p></h1>
            <a href="/recipes">Home</a>
            <a href="/logout">Logout</a>
        <form action="/recipes/{{recipe.id}}/edit/process" method="POST">

            <p>
                <label for="recipe_name" class="form-label">Dish Name</label>
                <input type="text" name="recipe_name" class="form-control" value="{{recipe.recipe_name}}" />
            </p>
            <p>
                <label for="description" class="form-label">Description: </label>
                <input name="description" class="form-control" value="{{recipe.description}}"/>
            </p>
            <p>
                <label for="instructions" class="form-label">Instructions</label>
                <input name="instructions" class="form-control" value="{{recipe.instructions}}"/>
            </p>
            <p>
                <label for="date_cooked" class="form-label">Date Cooked</label>
                <input type="date" name="date_cooked" class="form-control" value="{{recipe.date_cooked}}"/>
            </p>
            
            <p>Under 30?
                <input type="radio" id="1" name="under_30" value="{{recipe.under_30}}" {{"checked" if recipe.under_30}}>
                <label for="1">Yes</label>
                <input type="radio" id="0" name="under_30" value="{{recipe.under_30}}" {{"checked" if not recipe.under_30}}>
                <label for="0">No</label>
            </p>
            <input type="hidden" name="user_id" value="{{recipe.user.id}}">
            <button type="submit" class="btn btn=primary">Update Recipe</button>
        </form>
        {% with messages = get_flashed_messages()%}
        {% if messages %}
            {% for message in messages %}
            <p class="text-danger">{{message}}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}

    <p><a href='/recipes'>Back</a></p>
    </div>

    
</body>
</html>